.submenu {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 5rem;

    padding: 2rem;

    text-align: center;

    border-radius: var(--radius);

    box-shadow: var(--box-shadow);

    background: white;

    transform: rotateX(90deg);
    transform-origin: top;
}

.submenu.submenu--show:before {
    position: absolute;
    top: -0.4rem;
    left: 3.6rem;

    content: '';
    display: block;

    /* triangle shape */
    width: 0;
    height: 0;
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    border-bottom: 0.4rem solid white;

}

.submenu.submenu--show {
    opacity: 1;

    transform-origin: top;
    transform: rotateX(0deg);
}
