.forms {
    /* including labels and button */
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 2rem;
    padding: 6rem;

    font-family: inherit;
    font-weight: 600;
    color: var(--clr-grey-3);

    box-shadow: var(--box-shadow);
    border-radius: var(--radius);
}

.forms__label {
    /* including span and input  */
    min-width: 8rem;
    min-height: 2rem;
    max-width: 30rem;

    width: 80%;

    display: flex;
    flex-direction: column;

    margin-bottom: 2rem;
}

.forms__tag {
    padding-bottom: 0.5rem;

    text-align: left;
    font-size: 1rem;
}

.forms__input {
    width: 100%;
    height: 2rem;

    border: 2px solid var(--clr-grey-2);
    border-radius: 0.4rem;

    font-family: sans-serif;
}

.forms__input:focus {
    border-color: var(--clr-black);
}

.forms__input:invalid {
    border: 1px solid red;

    color: red;
}

.forms__btn {
    width: 80%;

    padding: 0.4rem 1rem;
}

.forms__textarea {
    border: var(--border);
    border-radius: var(--radius);
}

.forms__logout {
    align-items: flex-start;

    margin: 0;
    padding: 0 2rem 0 0;

    box-shadow: none;
}

.forms__logout .forms__btn {
    width: 10rem;
}

/* the review form */
.review-form {
    padding: 4rem 2rem;
}

.forms__review {
    align-items: flex-start;

    margin: 0;
    padding: 0;

    box-shadow: none;
}

.forms__review .forms__label {
    max-width: none;
    width: 100%;
}

.forms__review .forms__btn {
    width: 10rem;

    margin-left: 0;
}
