.item-detail {
    display: flex;
    flex-direction: column;
}

.item-detail__review {
    margin: 2rem;
    padding: 2rem;

    box-shadow: var(--box-shadow);
}

.review__controls {
    margin: 1rem 0 2rem 0;
}

.review__controls .btn {
    min-width: 8rem;
    margin-left: 0;
}

.review-details {
    display: flex;
    flex-direction: column;

    cursor: pointer;
}

.review__username {
    margin-bottom: 1rem;
}

.item-detail__all-reviews {
    padding: 0 2rem;
}

.item-detail__review-list {
    display: flex;
    flex-direction: column;

    padding-left: 0;
}

.review-list__item,
.review-list__item--active {
    display: flex;
    flex-direction: column;

    margin-bottom: 1rem;
    padding: 2rem;

    cursor: pointer;

    border-radius: var(--radius);

    box-shadow: var(--box-shadow);
}

.review__content {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.review__content--active {
    /* make sure that the text wraps when line breaks are in the content,
    and pre-line specifically collapses multiple whitespaces into one. */
    white-space: pre-line;
}

.content__instructions {
    margin: 0;

    color: var(--clr-grey-4);
    font-weight: 600;
}