*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;

  margin: 0;

  font-family: sans-serif;
}

.app {
  margin: auto;
  margin-top: 0.6rem;

  text-align: center;
}

.btn {
  min-width: 8rem;
  min-height: 2rem;
  max-width: 30rem;

  margin: 2rem;
  padding: 0.4rem 1rem;

  border: 2px solid hsl(210, 22%, 49%);
  border-radius: 0.4rem;

  background-color: white;
}

.btn:hover {
  background-color: black;

  color: white;

  cursor: pointer;
}

.status,
.login__waiting,
.words__waiting {
  width: 80%;

  margin: auto;
  margin-bottom: 0.4rem;

  color: red;
  text-align: center;
}
